<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysUserPostMapper">

    <resultMap type="SysUserPost" id="SysUserPostResult">
        <result property="userId" column="user_id"/>
        <result property="postId" column="post_id"/>
    </resultMap>

</mapper>
