######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS CODE ###
.vscode

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/*
nbbuild/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.log.gz
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml

.flattened-pom.xml
