import type { BaseEntity#if(!$table.tree), PageQuery#end } from '@/api/types';

#macro(tsType $column)#if($column.javaField.indexOf("id") != -1 || $column.javaField.indexOf("Id") != -1)string | number#elseif($column.javaType == 'Long' || $column.javaType == 'Integer' || $column.javaType == 'Double' || $column.javaType == 'Float' || $column.javaType == 'BigDecimal')number#elseif($column.javaType == 'Boolean')boolean#else string#end#end

export interface ${BusinessName}VO {
#foreach ($column in $columns)
#if($column.list || $column.pk)
  /**
   * $column.columnComment
   */
  $column.javaField: #tsType($column);
#if($column.htmlType == "imageUpload")
  /**
   * ${column.columnComment}Url
   */
  ${column.javaField}Url?: string;
#end
#end
#end
#if($table.tree)
  /**
   * 子对象
   */
  children?: ${BusinessName}VO[];
#end
}

export interface ${BusinessName}Form extends BaseEntity {
#foreach ($column in $columns)
#if($column.insert || $column.edit || $column.pk)
  /**
   * $column.columnComment
   */
#if($column.htmlType == "checkbox")
  $column.javaField?: string | string[];
#else
  $column.javaField?: #tsType($column);
#end
#end
#end
}

export interface ${BusinessName}Query#if(!$table.tree) extends PageQuery#end {
#foreach ($column in $columns)
#if($column.query)
  /**
   * $column.columnComment
   */
  $column.javaField?: #tsType($column);
#end
#end
  /**
   * 日期范围参数
   */
  params?: Record<string, unknown>;
}
