-- 需要手动执行sql指定父节点id
-- start
-- 菜单 SQL
insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values(${table.menuId}, '${functionName}', '${parentMenuId}', '1', '/${moduleName}/${businessName}', 'C', '0', '${permissionPrefix}:view', '#', 'admin', sysdate, '', null, '${functionName}菜单');

-- 按钮 SQL
insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values(seq_sys_menu.nextval, '${functionName}查询', ${table.menuId}, '1',  '#',  'F', '0', '${permissionPrefix}:list',         '#', 'admin', sysdate, '', null, '');

insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values(seq_sys_menu.nextval, '${functionName}新增', ${table.menuId}, '2',  '#',  'F', '0', '${permissionPrefix}:add',          '#', 'admin', sysdate, '', null, '');

insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values(seq_sys_menu.nextval, '${functionName}修改', ${table.menuId}, '3',  '#',  'F', '0', '${permissionPrefix}:edit',         '#', 'admin', sysdate, '', null, '');

insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values(seq_sys_menu.nextval, '${functionName}删除', ${table.menuId}, '4',  '#',  'F', '0', '${permissionPrefix}:remove',       '#', 'admin', sysdate, '', null, '');

insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values(seq_sys_menu.nextval, '${functionName}导出', ${table.menuId}, '5',  '#',  'F', '0', '${permissionPrefix}:export',       '#', 'admin', sysdate, '', null, '');

-- end

-- 在系统中使用还需要执行以下创建序列
#if($pkColumn.increment)
-- ${tableName}主键序列
create sequence seq_${tableName}
increment by 1
start with 10
nomaxvalue
nominvalue
cache 20;
#end
