package ${packageName}.service;

import ${packageName}.domain.${ClassName};
import com.baomidou.mybatisplus.extension.service.IService;
import java.util.List;

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service extends IService<${ClassName}> {

    /**
     * 查询列表
     */
    List<${ClassName}> queryList(${ClassName} ${className});
}
